<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LDI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <LDI.My.MySettings>
            <setting name="Drives" serializeAs="String">
                <value>C: </value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="DrivesIdle" serializeAs="String">
                <value>C: </value>
            </setting>
            <setting name="UseScrlRockLed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartEveryHour" serializeAs="String">
                <value>False</value>
            </setting>
        </LDI.My.MySettings>
    </userSettings>
</configuration>
